<div id="<%= dom_id restaurant %>">
  <p>
    <strong>Restaurant name:</strong>
    <%= restaurant.restaurant_name %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= restaurant.address %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= restaurant.email %>
  </p>

  <p>
    <strong>Contact number:</strong>
    <%= restaurant.contact_number %>
  </p>

</div>
